$primary: #ffd333;

$grayDark: #202123;
$gray1: #6f6f6f;
$gray2: #7a7a7a;
$gray3: #858585;
$gray4: #8f8f8f;
$gray5: #999999;
$gray6: #a3a3a3;
$gray7: #adadad;
$gray8: #b8b8b8;
$gray9: #c2c2c2;
$gray10: #cccccc;
$gray11: #d6d6d6;
$gray12: #e0e0e0;
$gray13: #ebebeb;
$gray14: #f5f5f5;
