.promo {
   &__wrapper {
      border: 3px solid $primary;
      grid-template-columns: 450px 1fr;
      display: grid;
      margin-top: 5rem;
      //   width: 200;

      @media (max-width: 768px) {
         position: relative;
         overflow: hidden;
      }

      @media (max-width: 375px) {
         height: 601px;
      }

      @media (max-width: 414px) {
         height: 628px;
      }
   }

   &__left {
      padding-left: 30px;
      padding-top: 30px;
      padding-right: 30px;
      padding-bottom: 37px;

      height: 21rem;

      @media (max-width: 320px) {
         width: 310px;
      }
   }

   &__title {
      position: relative;
   }

   &__heading {
      font-size: 28px;
      margin-bottom: 0;
      margin-top: 0;
      font-family: sans-serif;
      line-height: 25px;
   }

   &__subheading {
      font-size: 28px;
      margin-top: 0;
      font-weight: 1;
      font-family: sans-serif;
      margin-bottom: 0;
   }

   &__countdown {
      &--list {
         display: flex;
         gap: 0.3rem;
         font-size: 24px;
         padding-left: 0;
         margin-top: 0;

         @media (max-width: 320px) {
            font-size: 14px;
         }
      }

      &--item {
         list-style: none;
      }

      &--days {
         border-radius: 50px;
         padding: 15px 20px;
         background-color: $gray12;
         margin-bottom: 0;
      }

      &--label {
         font-size: 13px;
         font-family: sans-serif;
         color: #888888;
         text-align: center;
         margin-bottom: 0;
         margin-top: 0;
      }
   }

   &__right {
      @media (max-width: 768px) {
         position: absolute;
         left: 347px;
      }

      @media (max-width: 414px) {
         left: 21px;
         top: 329px;
      }

      @media (max-width: 375px) {
         left: 0;
         top: 317px;
         // position: absolute;
         // display: block;
      }
   }

   &__gallery {
      margin-top: 1.2rem;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 1.3rem;
      list-style: none;
      padding: 0;
      padding-right: 2rem;

      @media (max-width: 1024px) {
         grid-template-columns: 1fr 1fr 1fr;
      }

      @media (max-width: 768px) {
         // overflow: hidden;
         grid-template-columns: 1fr 1fr;
         width: 336px;
         padding-right: 0;
         position: absolute;
      }

      @media (max-width: 414px) {
         width: 317px;
         gap: 0.5rem;
      }

      @media (max-width: 375px) {
         width: 296px;
         left: 21px;
         gap: 0.5rem;
      }

      @media (max-width: 360px) {
         width: 295px;
         left: 14px;
      }

      @media (max-width: 320px) {
         width: 0;
         left: 7px;
      }

      // @media (max-width: 414px) {
      //    left: 20px;
      // }

      &--item {
         position: relative;
         border: 1px solid $gray13;
         // border: 1px solid $gray13;
         transition: all 0.3s ease-in-out;

         @media (max-width: 1024px) {
            &:last-child {
               display: none;
            }
         }

         @media (max-width: 768px) {
            &:nth-child(3) {
               display: none;
            }

            &:last-child {
               display: none;
            }
         }

         &:hover {
            transition: all.03s ease-in-out;
            .promo__gallery--item--caption {
               top: 55%;
               opacity: 1;
               transition: all 0.3s ease-in-out;
               cursor: pointer;

               @media (max-width: 375px) {
                  top: 103px;
                  font-size: 13px;
                  // left: 15%;
               }

               @media (max-width: 768px) {
                  top: 50%;
               }
               @media (max-width: 320px) {
                  // left: 3%;
               }
            }
            .promo__gallery--item--img {
               opacity: 0.3;
               transform: scale(1.2);
               transition: all 0.3s ease-in-out;
            }
            .promo__gallery--item--sale {
               opacity: 0;
               visibility: hidden;
               transition: all 0.3s ease-in-out;
            }
            .promo__gallery--item--iconwrapper {
               opacity: 1;
            }

            .promo__gallery--item--quick {
               right: 0;
               transition: all 0.3s ease-in-out;
            }
         }

         &--img {
            width: 100%;
            text-align: left;
            transition: all 0.3s ease-in-out;
         }

         &--imgWrapper {
            position: relative;
            cursor: pointer;
            overflow: hidden;
         }

         &--sale {
            position: absolute;
            top: 0;
            right: 0;
            background-color: $primary;
            margin-top: 0;
            margin-bottom: 0;
            font-size: 11px;
            padding: 2px 7px;
            font-family: sans-serif;
            transition: all 0.3s ease-in-out;
         }

         &--caption {
            position: absolute;
            top: 80%;
            left: 12%;

            height: 40px;
            width: 140px;
            text-align: center;
            padding-top: 10px;

            font-weight: 500;
            font-size: 15px;
            opacity: 0;
            background-color: #333333;
            color: #fff;
            transition: all 0.3s ease-in-out;

            @media (max-width: 768px) {
               width: 117px;
            }

            // @media (max-width: 414px) {
            //    width: 103px;
            //    left: 9%;
            // }

            @media (max-width: 375px) {
               width: 103px;
               // left: 14%;
            }
            @media (max-width: 320px) {
               left: 10%;
               // left: 14%;
            }

            &:hover {
               background-color: $primary;
               color: $grayDark;
               transition: all 0.3s ease-in-out;
            }
         }

         &--quick {
            position: absolute;
            top: 0;
            right: -67px;
            transition: all 0.3s ease-in-out;

            // @media (max-width: 768px) {
            //    right: 0;
            // }
         }
         &--iconwrapper {
            opacity: 0;
            border-radius: 50px;
            border: 1px solid $primary;
            align-items: center;

            width: 35px;
            height: 35px;
            padding-top: 5px;
            padding-left: 9px;
            background-color: #fff;
            transition: all 0.3s ease-in-out;
            display: block;
            margin-right: 6px;
            border: 1px solid $gray7;
            &:hover {
               background-color: $primary;
               transition: all 0.3s ease-in-out;
               .promo__gallery--item--label {
                  opacity: 1;
                  visibility: visible;
                  transition: all 0.3s ease-in-out;
               }
               .promo__gallery--item--label--icon {
                  opacity: 1;
                  visibility: visible;
                  transition: all 0.3s ease-in-out;
               }
            }
         }

         &--label {
            position: absolute;
            top: 9px;
            right: 48px;
            width: 77px;
            font-size: 12px;
            background-color: #333333;
            color: #fff;
            text-align: center;
            padding-left: 4px;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease-in-out;

            &--icon {
               top: 6px;
               right: 41px;
               position: absolute;
               opacity: 0;
               visibility: hidden;
               transition: all 0.3s ease-in-out;
            }
         }
      }
   }

   &__title {
      padding-left: 0;
      padding-bottom: 0;

      &--text {
         margin-bottom: 4px;
         font-size: 15px;
         font-family: sans-serif;
      }
   }

   &__rating {
      color: $primary;
      display: flex;
      gap: 0rem;
   }

   &__value {
      list-style: none;
      padding-left: 0;
      margin-top: 4px;

      display: flex;
      gap: 0.5rem;

      &--1 {
         text-decoration: line-through;
         color: $gray7;
      }

      &--2 {
         font-weight: 600;
      }
   }

   &__tab--Bottom {
      display: flex;
      margin-top: 2rem;
      margin-bottom: 2rem;
   }

   &__menu {
      display: flex;
      gap: 2rem;
      font-size: 1.2rem;
      margin-top: 1rem;
      margin-bottom: 5rem;
      cursor: pointer;
   }
}
